{% extends '1col.html.twig' %}

{% block title parent() ~ 'Login' %}

{% block maincontent %}
<div class="card text-white bg-dark">
    <div class="card-header">
        <div class="row justify-content-md-left">
            <div class="col-auto header-box">
                Herzlich Willkommen!
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="confirmsuccess">
            <div class="row alert alert-success" role="alert">
                Danke {{ user }}. Deine Registrierung ist jetzt bestätigt und Du kannst Dich&nbsp;<a class="text-secondary" href="{{ path('login') }}">hier</a>&nbsp;einloggen.
            </div>
        </div>
    </div>
</div>
{% endblock %}