{% extends '1col.html.twig' %}

{% block title parent() ~ 'Login' %}

{% block maincontent %}
<div class="card text-white bg-dark">
    <div class="card-header">
        <div class="row justify-content-md-left">
            <div class="col-auto header-box">
                Registrierung gelöscht.
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="deletesuccess">
            <div class="row alert alert-success" role="alert">
                {{ message }}
            </div>
        </div>
    </div>
</div>
{% endblock %}