{% extends '1col.html.twig' %}

{% block title parent() ~ 'Passwort vergessen' %}

{% block maincontent %}
<div class="card text-white bg-dark">
    <form action="{{ path('forgotpw') }}" method="post" novalidate>
        <div class="card-header forgotpw">
            <div class="row justify-content-md-left">
                <div class="col-auto header-box">
                    Passwort vergessen
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="forgotpw">
                <div class="row description">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 p-0">
                                <div class="description-box">
                                    <div class="col-12 description-description p-0">
                                        Bitte gib Deine E-Mail Adresse an. Du erhälst dann die nötigen Informationen um ein neues Passwort zu vergeben.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row break"></div>
                <div class="row email">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 p-0">
                                <div class="email-box">
                                    <div class="col-12 email-description p-0">
                                        E-Mail
                                    </div>
                                    <div class="col-12 email-value p-0">
                                        <input type="text" id="email" name="_email" required="required" class="inputbox">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row break"></div>
                {% if error %}
                    <div class="row alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-secondary float-right">Abschicken</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}