{% extends 'base.html.twig' %}

{% block title parent() ~ 'Homepage' %}
{% block content_id 'homepage' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2>Registrierung</h2>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}