<div class="card birthdaylistbox text-white bg-dark">
    <div class="card-header">Geburtstage</div>
    <div class="card-body">
        {% for user in userlist %}
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="right" title="{{user.nextbirthday | date("d.m.Y")}}">
                <button type="button" class="btn btn-secondary btn-sm" style="pointer-events: none;" disabled>{{ user.username }} ({{ user.nextage }}) </button>
            </span>
        {% endfor %}
    </div>
</div>