<div class="card userlistbox text-white bg-dark">
    <script>
        sendRequest();
        function sendRequest() {
            $.ajax({
                url: "/userlist",
                success:
                    function (result) {
                        $("#userlist_ajax").html(result);
                        var now = new Date();
                        var h = now.getHours();
                        var m = now.getMinutes();
                        var s = now.getSeconds();
                        var footermessage = '<small>Stand: '+h+':'+m+':'+s+'</small>';

                        $("#userlist_timestamp").html(footermessage);
                        setTimeout(function () {
                            sendRequest();
                        }, 5000);
                    }
            });
        }
    </script>
    <div class="card-header">gerade online</div>
    <div id="userlist_ajax" class="card-body"></div>
    <div id="userlist_timestamp" class="card-footer"></div>
</div>