body {
    font-family: 'Play', sans-serif;
    /*background-color:#E2D0AA;*/
}

a:hover, a:visited {
    text-decoration: none;
}

.bodycontainer {
    margin-top:56px;
    margin-bottom:15px;
    min-height:713px;
}

.mainalerts {
    margin-top:15px;
    margin-bottom:0px;
}

.lefticon {
    color:#6c757d;
}

.card {
    margin-top:15px;
}

.page-footer {
    /*margin-left:0px;
    margin-right:0px;
    padding:15px;*/
}

/* Tooltip container */
.userlist-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    cursor:default;
}

/* Tooltip text */
.userlist-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    cursor:default;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.userlist-tooltip:hover .tooltiptext {
    visibility: visible;
    cursor:default;
}



.startseite .card-img-top {
    margin:auto;
}
.startseite .card-body h1 {
    text-align:center;
}

.startseite .dsalogo {
    margin:15px auto;
}


/* Profilebox */
.profilebox .card-header h4,
.profilebox .text-white {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden;
}

.profilebox .row {
    margin-bottom:10px;
}

.nopadding {
    padding:0px;
}