body {
    font-family: 'Play', sans-serif;
    /*background-color:#E2D0AA;*/
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #6c757d;
}

/* Remove Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.bodycontainer {
    margin-top:56px;
    margin-bottom:15px;
    min-height:703px;
}

.mainalerts {
    margin-top:15px;
    margin-bottom:0px;
}

.lefticon {
    color:#6c757d;
}

.linkicon, .linkicon:hover {
    cursor: pointer;
}



.card {
    margin-top:15px;
}

.page-footer {
    /*margin-left:0px;
    margin-right:0px;
    padding:15px;*/
}

.ulisseslogo {
    width:100%;
    height: auto;
}


.startseite .card-img-top {
    margin:auto;
}
.startseite .card-body h1 {
    text-align:center;
}

.startseite .dsalogo {
    margin:15px auto;
}


/* Profilebox */
.profilebox .card-header h4,
.profilebox .text-white {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden;
}

.profilebox .row {
    margin-bottom:10px;
}

.userlistbox .card-footer {
    color:#aaaaaa;
    text-align:right;
}

.userlistbox .btn-sm , .birthdaylistbox .btn-sm{
    padding:3px;
    font-size:10px;
}

.form-control:disabled, .form-control[readonly] {
    opacity:0.5;
}

.nopadding {
    padding:0px;
}

.inputbox {
    border:none;
    width:100%;
    height:100%;
    padding-left:15px;
    padding-right:15px;
}

.charname {
    font-size:40px;
}
.charicon {
    float:left;
    text-align: right;
    font-size:40px;
}

.charicon .material-icons {
    font-size:40px;
}

/* charactersheet */



.charactersheet .attribute-box {
    background-color: #6c757d;
    color: #343A40;
    text-align: center;
    margin:1px;
}

.charactersheet .attribute-box .attribute-description {
    font-weight: bold;
    font-size: 15px;
}

.charactersheet .attribute-box .attribute-value {
    font-size: 25px;
    font-weight: bold;
}