{% for label, messages in app.flashes %}
    <div class="alert alert-{{ label }} mainalerts" role="alert">
        {%- if messages|length == 1 -%}
            {{- messages|first -}}
        {%- else -%}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {%- endif -%}
    </div>
{% endfor %}