{% extends '3col.html.twig' %}

{% block title parent() ~ 'Startseite' %}

{% block leftcontent %}
    {{ include('cardboxes/profilebox.html.twig') }}
{% endblock %}

{% block maincontent %}

<div class="card maincontent text-white bg-dark">
    <div class="card-body">
        Main content
    </div>
</div>

{% endblock %}

{% block rightcontent %}
    {{ render(controller(
    'App\\Controller\\UserController::listUsers'
    )) }}
{% endblock %}