{% extends '3col.html.twig' %}

{% block title parent() ~ 'Startseite' %}

{% block leftcontent %}
    {{ include('cardboxes/profilebox.html.twig') }}
{% endblock %}

{% block maincontent %}

    {{ include('cardboxes/userlist.html.twig') }}

{% endblock %}

{% block rightcontent %}
<div class="card rightcontent text-white bg-dark">
    right content
</div>
{% endblock %}