{% extends '3col.html.twig' %}

{% block title parent() ~ 'Startseite' %}

{% block leftcontent %}
    {{ include('cardboxes/profilebox.html.twig') }}
{% endblock %}

{% block maincontent %}
<div class="card startseite text-white bg-dark">
   Maincontent
</div>
{% endblock %}

{% block rightcontent %}
<div class="card rightcontent text-white bg-dark">
    RightContent
</div>
{% endblock %}