{% extends '1col.html.twig' %}

{% block title parent() ~ 'Kontakt' %}

{% block maincontent %}
    <div class="card text-white bg-dark">
        <div class="cardheader">
            Kontakt
        </div>
    </div>
{% endblock %}
