{% extends '1col.html.twig' %}

{% block title parent() ~ 'Profil' %}

{% block maincontent %}
    <div class="card text-white bg-dark">
        <div class="cardheader">
            Kontaktformular
        </div>
    </div>
{% endblock %}
