{% extends '3col.html.twig' %}

{% block title parent() ~ 'Profil' %}

{% block leftcontent %}
    <div class="card text-white bg-dark">
        <div class="card-body">
            Left content!
        </div>
    </div>
{% endblock %}
{% block maincontent %}
    <div class="card text-white bg-dark">
        <div class="card-body">
            Profile
        </div>
    </div>
{% endblock %}
{% block rightcontent %}
    <div class="card text-white bg-dark">
        <div class="card-body">
            Right content!
        </div>
    </div>
{% endblock %}