{% extends '1col.html.twig' %}

{% block title parent() ~ 'Profil' %}

{% block maincontent %}
    <div class="card text-white bg-dark">
        <div class="cardheader">
            <img class="rounded" src="{{ asset('uploads/pictures/' ~ app.user.picture) }}" width="200" height="200"/>
        </div>
    </div>
{% endblock %}
