{% extends '1col.html.twig' %}

{% block title parent() ~ 'Neuen Charakter anlegen' %}

{% block maincontent %}

<div class="card maincontent text-white bg-dark">
    <div class="card-body">
        Neuen Charakter anlegen
        {{ form(form) }}
    </div>
</div>

{% endblock %}
