{% extends '1col.html.twig' %}

{% block title parent() ~ 'Meine Charaktere' %}

{% block maincontent %}

    <div class="card maincontent text-white bg-dark">
        <div class="card-header">Meine Charaktere</div>
        <div class="card-body">
            {{ render(controller('App\\Controller\\CharacterController::listCharacters' )) }}
        </div>
        <div class="card-footer text-right">
            <div class="row">
                <div class="col align-self-end nopadding">
                    <a href="/characters/create" class="btn btn-secondary">Neuen Charakter anlegen</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}