<div class="characterlist">
    {% for character in characters %}
        <div class="row">
            <div class="col-9">
                {{character.charname}}
            </div>
            <div class="col-1 nopadding">
                <a href="/characters/show/{{ character.id }}">
                    <i class="material-icons bg-dark nopadding">remove_red_eye</i>
                </a>
            </div>
            <div class="col-1 nopadding">
                <a href="/characters/edit/{{ character.id }}">
                    <i class="material-icons bg-dark nopadding">edit</i>
                </a>
            </div>
            <div class="col-1 nopadding">
                <a href="" data-toggle="modal" data-target="#deleteChar{{character.id}}">
                    <i class="material-icons bg-dark nopadding">delete</i>
                </a>
            </div>
            {% include 'characters/deletemodal.html.twig' %}
        </div>
    {% endfor %}
</div>

