<div class="characterlist">
    {% for character in characters %}
            <div class="row character">
                <div class="col-12">{{character.charname}}</div>
                <a href="/characters/show/{{ character.id }}" class="stretched-link"></a>
            </div>
    {% endfor %}
</div>

