{% extends '1col.html.twig' %}

{% block title parent() ~ character.charname %}

{% block maincontent %}

    <div class="card maincontent text-white bg-dark">
        <div class="card-header">
            Charakter anzeigen
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label for="character_charname" class="col-sm-4 col-form-label">Charaktername</label>
                <div class="col-sm-8">
                    {{ character.charname }}
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="row">
                <i class="lefticon material-icons bg-dark nopadding">view_list</i>
                <span class="text-secondary nopadding">
                    <a class="text-secondary" href="/characters">zurück zur Übersicht</a>
                </span>
            </div>
        </div>
    </div>

{% endblock %}

