{% extends '1col.html.twig' %}

{% block title parent() ~ character.charname %}

{% block maincontent %}

    <div class="card maincontent text-white bg-dark">
        <div class="card-header">
            <div class="row">
                <div class="col-10">Charakter anzeigen</div>
                <div class="col-2">
                    <div class="col-4 charicon nopadding">
                        <a href="/characters">
                            <i class="material-icons bg-dark nopadding">view_list</i>
                        </a>
                    </div>
                    <div class="col-4 charicon nopadding">
                        <a href="/characters/edit/{{ character.id }}">
                            <i class="material-icons bg-dark nopadding">edit</i>
                        </a>
                    </div>
                    <div class="col-4 charicon nopadding">
                        <a href="" data-toggle="modal" data-target="#deleteChar{{character.id}}">
                            <i class="material-icons bg-dark nopadding">delete</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label for="character_charname" class="col-sm-4 col-form-label">Charaktername</label>
                <div class="col-sm-8">
                    {{ character.charname }}
                </div>
            </div>
            {% include 'characters/deletemodal.html.twig' %}
        </div>
        <div class="card-footer">
            
        </div>
    </div>

{% endblock %}

